<%
  content_for :page_title, "Canvas Spaces"
  css_bundle :spaces, :plugin => :canvas_spaces
%>

<div id="CanvasSpacesApp" class="canvas_spaces"></div>

<% js_bundle :spaces, :plugin => :canvas_spaces %>
