<h1>Welcome to Canvas Spaces</h1>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<br>
<div style="float: clear">
<a href="" onClick="createGroup()">Create group.</a><br>
<a href="" onClick="listGroups()">List groups.</a>
</div>

<script>
function createGroup() 
{
  $.ajax('/api/v1/canvasspaces/groups', 
               { 
               	  type: "POST",
                  data: {name: "newgroup11", join_type: "free_to_join", leader_id: null, desc: "Pump up the volume."},
                  success: function (data, textStatus, jqXHR) {
                    console.log(JSON.stringify(data));
                    alert("Data received successfully!");
		          },
				  error: function(jqXHR, textStatus, errorThrown) {
					console.log("createGroup error:" + jqXHR.responseText);
					console.log(JSON.stringify(textStatus));
				  }	
               });
}

function listGroups()
{
	$.ajax('/api/v1/canvasspaces/groups',
			{
				type: "GET",
				success: function (data, textStatus, jqXKR) {
					console.log(JSON.stringify(data));
					alert("Data received successfully!");
				},
				error: function(jqXHR, textStatus, errorThrown) {
					console.log("listGroups error:" + jqXHR.responseText);
					console.log(JSON.stringify(textStatus));
				}	
			});
}
</script>
