<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<a href="" onClick="doIt()">Do it</a>
<script>
function doIt()
{
  $.ajax('/api/v1/canvasspaces', 
               { type: "POST",
                 data: {name: "poo", blah: "joker"},
                 success: function (data, textStatus, jqXHR) {
                            console.log(data);
                            alert("Data received successfully!");
		          }
               });
}
</script>
