{
  "parser": "babel-eslint",
  "extends": [
    "unobtrusive",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jsx-a11y/recommended"
  ],
  "globals": {
    "$": true
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-console": [
      "error",
      {
        "allow": ["warn", "error"]
      }
    ],
    "react/jsx-uses-react": 1,
    "react/jsx-no-undef": 2,
    "react/jsx-wrap-multilines": 2,
    "react/no-deprecated": 0,
    "react/no-unescaped-entities": 0,
    "import/no-unresolved": [
      2,
      {
        "ignore": ["react", "react-dom"]
      }
    ],
    "jsx-a11y/no-autofocus": 0
  },
  "plugins": ["react", "jsx-a11y"],
  "settings": {
    "import/resolver": "webpack",
    "import/extensions": [".js", ".jsx"]
  }
}
